[Unit]
Description=Fotod Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/fotod
Restart=on-failure

[Install]
WantedBy=multi-user.target
