[Unit]
Description=Fotod Service
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/local/bin/fotod
Restart=on-failure

[Install]
WantedBy=basic.target
